.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 10px 65px;
  background-color: var(--secondary-color);

  & .menu__nav {
    max-width: 100%;
  }

  & .menu__image {
    width: 50px;
  }

  & .active {
    font-weight: 700;
  }
  & .menu__list {
    display: flex;
    justify-content: center;
    gap: var(--size-6);
    font-size: 18px;
    list-style: none;

    & .menu__item a {
      color: #262626;
      font-size: var(--size-5);
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      padding: 5px;
      transition: 0.5s;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: #262626;
        transition: 0.5s;
        opacity: 0;
      }
      &:before {
        top: 0;
        left: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }
      &:hover:before,
      &:hover:after {
        opacity: 1;
        width: 100%;
        transition: 0.5s;
      }
    }
  }
}
